html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.m873-serif{font-family:serif}.m873-sans-serif{font-family:sans-serif}.m873-cursive{font-family:cursive}.m873-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.m873-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.m873-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.m873-table,.m873-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.m873-bordered tr,.m873-table-all tr{border-bottom:1px solid #ddd}.m873-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.m873-table-all tr:nth-child(odd){background-color:#fff}.m873-table-all tr:nth-child(even){background-color:#f1f1f1}
.m873-hoverable tbody tr:hover,.m873-ul.m873-hoverable li:hover{background-color:#ccc}.m873-centered tr th,.m873-centered tr td{text-align:center}
.m873-table td,.m873-table th,.m873-table-all td,.m873-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.m873-table th:first-child,.m873-table td:first-child,.m873-table-all th:first-child,.m873-table-all td:first-child{padding-left:16px}
.m873-btn,.m873-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.m873-btn,.m873-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.m873-disabled,.m873-btn:disabled,.m873-button:disabled{cursor:not-allowed;opacity:0.3}.m873-disabled *,:disabled *{pointer-events:none}
.m873-btn.m873-disabled:hover,.m873-btn:disabled:hover{box-shadow:none}
.m873-badge,.m873-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.m873-badge{border-radius:50%}
.m873-ul{list-style-type:none;padding:0;margin:0}.m873-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.m873-ul li:last-child{border-bottom:none}
.m873-tooltip,.m873-display-container{position:relative}.m873-tooltip .m873-text{display:none}.m873-tooltip:hover .m873-text{display:inline-block}
.m873-ripple:active{opacity:0.5}.m873-ripple{transition:opacity 0s}
.m873-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.m873-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.m873-dropdown-click,.m873-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.m873-dropdown-hover:hover .m873-dropdown-content{display:block}
.m873-dropdown-hover:first-child,.m873-dropdown-click:hover{background-color:#ccc;color:#000}
.m873-dropdown-hover:hover > .m873-button:first-child,.m873-dropdown-click:hover > .m873-button:first-child{background-color:#ccc;color:#000}
.m873-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.m873-check,.m873-radio{width:24px;height:24px;position:relative;top:6px}
.m873-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.m873-bar-block .m873-dropdown-hover,.m873-bar-block .m873-dropdown-click{width:100%}
.m873-bar-block .m873-dropdown-hover .m873-dropdown-content,.v-bar-block .m873-dropdown-click .m873-dropdown-content{min-width:100%}
.m873-bar-block .m873-dropdown-hover .m873-button,.m873-bar-block .m873-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.m873-main,#main{transition:margin-left .4s}
.m873-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.m873-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.m873-bar{width:100%;overflow:hidden}.m873-center .m873-bar{display:inline-block;width:auto}
.m873-bar .m873-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.m873-bar .m873-dropdown-hover,.m873-bar .m873-dropdown-click{position:static;float:left}
.m873-bar .m873-button{white-space:normal}
.m873-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.m873-bar-block.m873-center .m873-bar-item{text-align:center}.m873-block{display:block;width:100%}
.m873-responsive{display:block;overflow-x:auto}
.m873-container:after,.m873-container:before,.m873-panel:after,.m873-panel:before,.m873-row:after,.m873-row:before,.m873-row-padding:after,.m873-row-padding:before,
.m873-cell-row:before,.m873-cell-row:after,.m873-clear:after,.m873-clear:before,.m873-bar:before,.m873-bar:after{content:"";display:table;clear:both}
.m873-col,.m873-half,.m873-third,.m873-twothird,.w3-threequarter,.m873-quarter{float:left;width:100%}
.m873-col.s1{width:8.33333%}.m873-col.s2{width:16.66666%}.m873-col.s3{width:24.99999%}.m873-col.s4{width:33.33333%}
.m873-col.s5{width:41.66666%}.m873-col.s6{width:49.99999%}.m873-col.s7{width:58.33333%}.m873-col.s8{width:66.66666%}
.m873-col.s9{width:74.99999%}.m873-col.s10{width:83.33333%}.m873-col.s11{width:91.66666%}.m873-col.s12{width:99.99999%}
@media (min-width:601px){.m873-col.m1{width:8.33333%}.m873-col.m2{width:16.66666%}.m873-col.m3,.m873-quarter{width:24.99999%}.m873-col.m4,.m873-third{width:33.33333%}
.m873-col.m5{width:41.66666%}.m873-col.m6,.m873-half{width:49.99999%}.m873-col.m7{width:58.33333%}.m873-col.m8,.m873-twothird{width:66.66666%}
.m873-col.m9,.m873-threequarter{width:74.99999%}.m873-col.m10{width:83.33333%}.m873-col.m11{width:91.66666%}.m873-col.m12{width:99.99999%}}
@media (min-width:993px){.m873-col.l1{width:8.33333%}.m873-col.l2{width:16.66666%}.m873-col.l3{width:24.99999%}.m873-col.l4{width:33.33333%}
.m873-col.l5{width:41.66666%}.m873-col.l6{width:49.99999%}.m873-col.l7{width:58.33333%}.m873-col.l8{width:66.66666%}
.m873-col.l9{width:74.99999%}.m873-col.l10{width:83.33333%}.m873-col.l11{width:91.66666%}.m873-col.l12{width:99.99999%}}
.m873-rest{overflow:hidden}.m873-stretch{margin-left:-16px;margin-right:-16px}
.m873-content,.m873-auto{margin-left:auto;margin-right:auto}.m873-content{max-width:980px}.m873-auto{max-width:1140px}
.m873-cell-row{display:table;width:100%}.m873-cell{display:table-cell}
.m873-cell-top{vertical-align:top}.m873-cell-middle{vertical-align:middle}.m873-cell-bottom{vertical-align:bottom}
.m873-hide{display:none!important}.m873-show-block,.m873-show{display:block!important}.m873-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.m873-auto{max-width:95%}}
@media (max-width:600px){.m873-modal-content{margin:0 10px;width:auto!important}.m873-modal{padding-top:30px}
.m873-dropdown-hover.m873-mobile .m873-dropdown-content,.m873-dropdown-click.m873-mobile .m873-dropdown-content{position:relative}	
.m873-hide-small{display:none!important}.m873-mobile{display:block;width:100%!important}.m873-bar-item.m873-mobile,.m873-dropdown-hover.m873-mobile,.w3-dropdown-click.m873-mobile{text-align:center}
.m873-dropdown-hover.m873-mobile,.m873-dropdown-hover.m873-mobile .m873-btn,.m873-dropdown-hover.v-mobile .m873-button,.m873-dropdown-click.m873-mobile,.m873-dropdown-click.m873-mobile .m873-btn,.m873-dropdown-click.m873-mobile .w3-button{width:100%}}
@media (max-width:768px){.m873-modal-content{width:500px}.m873-modal{padding-top:50px}}
@media (min-width:993px){.m873-modal-content{width:900px}.m873-hide-large{display:none!important}.m873-sidebar.m873-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.m873-hide-medium{display:none!important}}
@media (max-width:992px){.m873-sidebar.m873-collapse{display:none}.m873-main{margin-left:0!important;margin-right:0!important}.m873-auto{max-width:100%}}
.m873-top,.m873-bottom{position:fixed;width:100%;z-index:1}.m873-top{top:0}.m873-bottom{bottom:0}
.m873-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.m873-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}
.m873-display-bottomleft{position:absolute;left:0;bottom:0}.m873-display-bottomright{position:absolute;right:0;bottom:0}
.m873-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.m873-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.m873-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.m873-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.m873-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.m873-display-container:hover .m873-display-hover{display:block}.m873-display-container:hover span.m873-display-hover{display:inline-block}.m873-display-hover{display:none}
.m873-display-position{position:absolute}
.m873-circle{border-radius:50%}
.m873-round-small{border-radius:2px}.m873-round,.m873-round-medium{border-radius:4px}.m873-round-large{border-radius:8px}.m873-round-xlarge{border-radius:16px}.m873-round-xxlarge{border-radius:32px}
.m873-row-padding,.m873-row-padding>.m873-half,.w3-row-padding>.m873-third,.m873-row-padding>.w3-twothird,.m873-row-padding>.m873-threequarter,.m873-row-padding>.m873-quarter,.w3-row-padding>.m873-col{padding:0 8px}
.m873-container,.m873-panel{padding:0.01em 16px}.m873-panel{margin-top:16px;margin-bottom:16px}
.m873-code,.w3-codespan{font-family:Consolas,"courier new";font-size:16px}
.w3-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.m873-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.m873-card,.m873-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.m873-card-4,.m873-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.m873-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.m873-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.m873-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.m873-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.m873-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.m873-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.m873-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.m873-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.m873-animate-input{transition:width 0.4s ease-in-out}.m873-animate-input:focus{width:100%!important}
.m873-opacity,.m873-hover-opacity:hover{opacity:0.60}.m873-opacity-off,.m873-hover-opacity-off:hover{opacity:1}
.m873-opacity-max{opacity:0.25}.m873-opacity-min{opacity:0.75}
.m873-greyscale-max,.m873-grayscale-max,.m873-hover-greyscale:hover,.m873-hover-grayscale:hover{filter:grayscale(100%)}
.m873-greyscale,.m873-grayscale{filter:grayscale(75%)}.m873-greyscale-min,.m873-grayscale-min{filter:grayscale(50%)}
.m873-sepia{filter:sepia(75%)}.m873-sepia-max,.m873-hover-sepia:hover{filter:sepia(100%)}.m873-sepia-min{filter:sepia(50%)}
.m873-tiny{font-size:10px!important}.m873-small{font-size:12px!important}.m873-medium{font-size:15px!important}.m873-large{font-size:18px!important}
.m873-xlarge{font-size:24px!important}.m873-xxlarge{font-size:36px!important}.m873-xxxlarge{font-size:48px!important}.m873-jumbo{font-size:64px!important}
.m873-left-align{text-align:left!important}.m873-right-align{text-align:right!important}.m873-justify{text-align:justify!important}.m873-center{text-align:center!important}
.m873-border-0{border:0!important}.m873-border{border:1px solid #ccc!important}
.m873-border-top{border-top:1px solid #ccc!important}.m873-border-bottom{border-bottom:1px solid #ccc!important}
.m873-border-left{border-left:1px solid #ccc!important}.m873-border-right{border-right:1px solid #ccc!important}
.m873-topbar{border-top:6px solid #ccc!important}.m873-bottombar{border-bottom:6px solid #ccc!important}
.m873-leftbar{border-left:6px solid #ccc!important}.m873-rightbar{border-right:6px solid #ccc!important}
.m873-section,.m873-code{margin-top:16px!important;margin-bottom:16px!important}
.m873-margin{margin:16px!important}.m873-margin-top{margin-top:16px!important}.m873-margin-bottom{margin-bottom:16px!important}
.m873-margin-left{margin-left:16px!important}.m873-margin-right{margin-right:16px!important}
.m873-padding-small{padding:4px 8px!important}.m873-padding{padding:8px 16px!important}.m873-padding-large{padding:12px 24px!important}
.m873-padding-16{padding-top:16px!important;padding-bottom:16px!important}.m873-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.m873-padding-32{padding-top:32px!important;padding-bottom:32px!important}.m873-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.m873-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.m873-padding-top-64{padding-top:64px!important}.m873-padding-top-48{padding-top:48px!important}
.m873-padding-top-32{padding-top:32px!important}.m873-padding-top-24{padding-top:24px!important}
.m873-left{float:left!important}.m873-right{float:right!important}
.m873-button:hover{color:#000!important;background-color:#ccc!important}
.m873-transparent,.m873-hover-none:hover{background-color:transparent!important}
.m873-hover-none:hover{box-shadow:none!important}
/* Colors */
.m873-amber,.m873-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.m873-aqua,.m873-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.m873-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.m873-light-blue,.m873-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.m873-brown,.m873-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.m873-cyan,.m873-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.m873-blue-grey,.m873-hover-blue-grey:hover,.w3-blue-gray,.m873-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.m873-green,.m873-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.m873-light-green,.m873-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.m873-indigo,.m873-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.m873-khaki,.m873-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.m873-lime,.m873-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.m873-orange,.m873-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.m873-deep-orange,.m873-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.m873-pink,.m873-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.m873-purple,.m873-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.m873-deep-purple,.m873-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.m873-red,.m873-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.m873-sand,.m873-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.m873-teal,.m873-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.m873-yellow,.m873-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.m873-white,.m873-hover-white:hover{color:#000!important;background-color:#fff!important}
.m873-black,.m873-hover-black:hover{color:#fff!important;background-color:#000!important}
.m873-grey,.m873-hover-grey:hover,.m873-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.m873-light-grey,.m873-hover-light-grey:hover,.m873-light-gray,.m873-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.m873-dark-grey,.m873-hover-dark-grey:hover,.m873-dark-gray,.m873-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.m873-pale-red,.m873-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.m873-pale-green,.m873-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.m873-pale-yellow,.m873-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.m873-pale-blue,.m873-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.m873-text-amber,.m873-hover-text-amber:hover{color:#ffc107!important}
.m873-text-aqua,.m873-hover-text-aqua:hover{color:#00ffff!important}
.m873-text-blue,.m873-hover-text-blue:hover{color:#2196F3!important}
.m873-text-light-blue,.m873-hover-text-light-blue:hover{color:#87CEEB!important}
.m873-text-brown,.m873-hover-text-brown:hover{color:#795548!important}
.m873-text-cyan,.m873-hover-text-cyan:hover{color:#00bcd4!important}
.m873-text-blue-grey,.m873-hover-text-blue-grey:hover,.m873-text-blue-gray,.m873-hover-text-blue-gray:hover{color:#607d8b!important}
.m873-text-green,.m873-hover-text-green:hover{color:#4CAF50!important}
.m873-text-light-green,.m873-hover-text-light-green:hover{color:#8bc34a!important}
.m873-text-indigo,.m873-hover-text-indigo:hover{color:#3f51b5!important}
.m873-text-khaki,.m873-hover-text-khaki:hover{color:#b4aa50!important}
.m873-text-lime,.m873-hover-text-lime:hover{color:#cddc39!important}
.m873-text-orange,.m873-hover-text-orange:hover{color:#ff9800!important}
.m873-text-deep-orange,.m873-hover-text-deep-orange:hover{color:#ff5722!important}
.m873-text-pink,.m873-hover-text-pink:hover{color:#e91e63!important}
.m873-text-purple,.m873-hover-text-purple:hover{color:#9c27b0!important}
.m873-text-deep-purple,.m873-hover-text-deep-purple:hover{color:#673ab7!important}
.m873-text-red,.m873-hover-text-red:hover{color:#f44336!important}
.m873-text-sand,.m873-hover-text-sand:hover{color:#fdf5e6!important}
.m873-text-teal,.m873-hover-text-teal:hover{color:#009688!important}
.m873-text-yellow,.m873-hover-text-yellow:hover{color:#d2be0e!important}
.m873-text-white,.m873-hover-text-white:hover{color:#fff!important}
.m873-text-black,.m873-hover-text-black:hover{color:#000!important}
.m873-text-grey,.m873-hover-text-grey:hover,.m873-text-gray,.m873-hover-text-gray:hover{color:#757575!important}
.m873-text-light-grey,.m873-hover-text-light-grey:hover,.w3-text-light-gray,.m873-hover-text-light-gray:hover{color:#f1f1f1!important}
.m873-text-dark-grey,.m873-hover-text-dark-grey:hover,.m873-text-dark-gray,.m873-hover-text-dark-gray:hover{color:#3a3a3a!important}
.m873-border-amber,.m873-hover-border-amber:hover{border-color:#ffc107!important}
.m873-border-aqua,.m873-hover-border-aqua:hover{border-color:#00ffff!important}
.m873-border-blue,.m873-hover-border-blue:hover{border-color:#2196F3!important}
.m873-border-light-blue,.m873-hover-border-light-blue:hover{border-color:#87CEEB!important}
.m873-border-brown,.m873-hover-border-brown:hover{border-color:#795548!important}
.m873-border-cyan,.m873-hover-border-cyan:hover{border-color:#00bcd4!important}
.m873-border-blue-grey,.m873-hover-border-blue-grey:hover,.m873-border-blue-gray,.m873-hover-border-blue-gray:hover{border-color:#607d8b!important}
.m873-border-green,.m873-hover-border-green:hover{border-color:#4CAF50!important}
.m873-border-light-green,.m873-hover-border-light-green:hover{border-color:#8bc34a!important}
.m873-border-indigo,.m873-hover-border-indigo:hover{border-color:#3f51b5!important}
.m873-border-khaki,.m873-hover-border-khaki:hover{border-color:#f0e68c!important}
.m873-border-lime,.m873-hover-border-lime:hover{border-color:#cddc39!important}
.m873-border-orange,.m873-hover-border-orange:hover{border-color:#ff9800!important}
.m873-border-deep-orange,.m873-hover-border-deep-orange:hover{border-color:#ff5722!important}
.m873-border-pink,.m873-hover-border-pink:hover{border-color:#e91e63!important}
.m873-border-purple,.m873-hover-border-purple:hover{border-color:#9c27b0!important}
.m873-border-deep-purple,.m873-hover-border-deep-purple:hover{border-color:#673ab7!important}
.m873-border-red,.m873-hover-border-red:hover{border-color:#f44336!important}
.m873-border-sand,.m873-hover-border-sand:hover{border-color:#fdf5e6!important}
.m873-border-teal,.m873-hover-border-teal:hover{border-color:#009688!important}
.m873-border-yellow,.m873-hover-border-yellow:hover{border-color:#ffeb3b!important}
.m873-border-white,.m873-hover-border-white:hover{border-color:#fff!important}
.m873-border-black,.m873-hover-border-black:hover{border-color:#000!important}
.m873-border-grey,.m873-hover-border-grey:hover,.m873-border-gray,.m873-hover-border-gray:hover{border-color:#9e9e9e!important}
.w3-border-light-grey,.w3-hover-border-light-grey:hover,.m873-border-light-gray,.m873-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.m873-border-dark-grey,.m873-hover-border-dark-grey:hover,.m873-border-dark-gray,.m873-hover-border-dark-gray:hover{border-color:#616161!important}
.m873-border-pale-red,.m873-hover-border-pale-red:hover{border-color:#ffe7e7!important}.m873-border-pale-green,.m873-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.m873-border-pale-yellow,.m873-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.m873-border-pale-blue,.m873-hover-border-pale-blue:hover{border-color:#e7ffff!important}